body {
    background-color: #FFFF;
}

.container {
    width: 350px;
}

.items {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: #1E4C40;
    color: #FFFFFF;
    display: flex;
}

.itemButton {
    background-color: #E07A5F;
    color: #FFFFFF;

}